*{
    margin: 0%;
    padding: 0%;
}

body{
    width:850px;
    margin: 20px auto;
    background-color:#F9F9F9;
    text-align: center;
}

h1{
    display: flex;
    justify-content: center;
    margin-top: 55px;
    align-items: center;
    font-size: 35px;
    color:  rgba(0, 0, 0, 0.786);
}

.icones{
    display: flex;
    justify-content: space-around;
    width: 250px;
    margin: 0% auto;
    margin-top: 15px;
    margin-bottom: 80px;
}

.icones img{
    width:50px;
    height:50px;
}

img{
    height: 200px;
    width: 200px;
    border-radius: 80%;
    border: 3px solid  ;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
}

h2{
  color: #FFBA0A;
  margin-bottom: 15px;
}

footer{
 position: absolute;
 bottom: 2%;
 text-align: center;
 width: 850px;
 margin: 0 auto;
 
}

p{
    color: gray;
}

h3{
    color: rgba(0, 0, 0, 0.786)
}
a{
    color:  rgba(0, 0, 0, 0.786);
    text-decoration: none;
    line-height: 22px;
    margin-top: 15px;
}

a:hover{
    color: #c131a9;
}

